.App {
    text-align: center;
    justify-content: center;
  }

  .header h1 {
    font-size: 50px;
    line-height: 30px;
  }

  h1 {
    font-family: "Montserrat", sans-serif;
    font-weight: 100;
  }
  
  h2 {
    font-size: 50px;
    line-height: 10px;
    font-family: "Montserrat", sans-serif;
    font-weight: 100;
  }
  
  h3 {
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
  }
  
  p {
    font-family: "Raleway", sans-serif;
    font-size: 16px;
  }
  
  .section {
    padding: 50px;
  }
  
  .overlay {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    background-color: #D6E5E3;
    opacity: .9;
    overflow: hidden;
    width: 100vw;
    height:0;
    transition: .5s ease;
  }
  
  .text {
    white-space: nowrap;
    color: black;
    font-size: 25px;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }
  
  .text a {
    color: #a6b9b9;
    text-decoration: none;
  }
  
  .Home {
    /*text-align: center;*/
    justify-content: center;
    position: absolute;
    margin-left: 80%;
    margin-right: 10%;
    height: 150px;
    background: rgba(255,255,255,0.6);
  }

  .NavBar {
    list-style-type: none;
    width: 100vw;
    position: fixed;
    top: 0;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: center;
    background-color: #FF8D60;
    z-index: 500;
  }
  
  .nav-item {
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    float: right;
  }
  
  .nav-last {
    margin-right: 60px;
  }
  
  .nav-name {
    font-family: "Montserrat", sans-serif;
    font-weight: 100;
    font-size: 36px;
    display: block;
    margin-left: 60px;
    color: #000000;
    text-align: center;
    padding: 7px 8px;
    text-decoration: none;
    float: left;
  }
  
  .nav-link {
    display: block;
    color: #000000;
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
  }
  
  .nav-link:hover:not(.active) {
    background-color: rgb(226, 231, 230);
    color: #000000;
  }
  
  .nav-link.active {
    color: white;
    background-color: #6E7271;
  }

  .About {
    background-color: #F5FDC6;
    width:100vw;
    list-style-type: none;
    text-align: center;
    align-items: center;
    height: 100vh;
  }
  
  
  .About div {
    text-align: center;
  }

  .About a {
    text-decoration: none;
    color: black;
    line-height: 10px;
    font-size: 18px;
  }
  
  .About h3 {
    font-size: 30px;
    line-height: 10px;
  }
   
  .Contacts {
    background-color: #4DB784;
    position: absolute;
    list-style-type: none;
    width: 100vw;
    overflow: hidden;
    text-align: center;
    align-items: center;
    height: 700px;
  }
  
  .Contacts div {
    text-align: center;
  }
    
  .Contacts a {
    text-decoration: none;
    color: black;
    line-height: 10px;
    font-size: 18px;
  }
  
  .Contacts h3 {
    font-size: 30px;
    line-height: 10px;
  }